<h1>Homepage</h1>


<ul>
  <li>
    <a href = "/directors">All directors </a>
  </li>
    <ol>
    <a href = "/directors/youngest">Youngest director </a>
    </ol>
    <ol>
    <a href = "/directors/eldest">Oldest director </a>
    </ol>

  <li>
    <a href = "/movies">All movies </a>
  </li>
   <li>
    <a href = "/actors">All actors </a>
  </li>



</ul>
